@use "../../abstracts" as *;

.about {
    background-color: $color-bg-primary;
    margin: 6% 0;
    padding: 0 15%;
    &__salon {
        @include grid-center;
        grid-template-columns: 1fr 1fr;
        padding: 4% 0;

        :nth-child(1) {
            width: 95%;
            grid-row: 1/4;
            align-self: stretch;
        }

        :nth-child(2) {
            font-size: 3vw;
            font-family: $font-family;
            justify-self: center;
            align-self: $align-self-center;
        }

        :nth-child(3) {
            font-size: 1.5vw;
            font-family: $font-family-arial;
            line-height: 1.5;
            align-self: $align-self-center;
        }

        :nth-child(4) {
            @include info-action-button;
            font-size: $font-size-large;
            align-self: start;
            width: 100%;
            align-self: $align-self-center;
            span {
                text-align: center;
            }
        }
        :nth-child(4):hover {
            background-color: #ed7651;
            color: $color-neutral-light;
            box-shadow: 0 0 8px 8px #ff6a3d83;
            transition: 0.5s;
          }
    } 
}