@use "../../abstracts" as *;

.values {
    @include img-bg-position;
    background-image: url(../imgs/bg-main.svg);
    height: 60vh;
    &__wrap {
        display: flex;
        flex-direction: column;
        gap: $gap-medium;
        padding: 5% 55% 0 0;
    }
    &__btn {
        @include info-action-button;
        gap: 2%;
    }
    &__heading {
        font-size: 38px;
        padding-top: 10%;
    }
    &__text {
        font-size: $font-size-medium;
        padding-top: 8%;
        line-height: 29px;
    }
}