@use "../../abstracts" as *;

.navbar {
    background-color: $color-bg-primary;

    &__wrap {
        @include display-flex-row;
        background-color: $color-bg-primary;
        padding: 0.5% 0;
        gap: $gap-small;
    }
        
        &__logo {
            @include display-flex-row;
            white-space: nowrap;
            gap: $gap-small;
        }
        &__heading {
            font-size: $font-size-large;
    
        }
        &__nav {
            @include display-flex-row;
            gap: $gap-medium;
            margin-right: 10%;
        }
        &__list {
            @include display-flex-row;
            gap: $gap-small;
        }
        &__link{
            font-size: $font-size-medium;
            text-transform: $upper-case-text-transformation;
            color: $color-neutral-dark;
        }
        &__btn {
            @include info-action-button;
            text-transform: $upper-case-text-transformation;
        }
    }