@use "../../abstracts" as *;

header {
  display: flex;
  justify-content: space-between;
  padding: 0.5% 10%;
  background-color: $color-bg-primary;

  .logo {
    display: flex;
    align-items: center;

    img {
      margin-right: 10px;
    }

    h1 {
      font-size: $font-size-large;
    }
  }

  .nav {
    display: flex;
    align-items: center;
    justify-content: center;

    ul {
      display: flex;

      li {
        text-align: center;
        margin-left: 20px;

        a {
          text-transform: uppercase;
          color: $color-neutral-dark;
          font-size: $font-size-medium;
        }

        a:hover {
          cursor: pointer;
          color: $color-neutral-light;
          text-shadow: 0 0 5px #ed7651;
        }

        .special-btn {
          background-color: $color-bg-secondary;
          color: $color-neutral-light;
          padding: 10px;
          border-radius: 8px;
        }

        .special-btn:hover {
          background-color: #ed7651;
          color: $color-neutral-light;
          box-shadow: 0 0 8px 8px #ff6a3d83;
        }
      }
    }
  }
}
