@use "../../abstracts" as *;

footer {
  padding: 0.5% 10%;
  background-color: $color-bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;

  .soсial-media {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-right: 10px;
    }
  }
}
