@use "../../abstracts" as *;

footer {
  padding: 0.5% 15%;
  background-color: $color-bg-primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Arial;

  .soсial-media {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin-right: 10px;
    }
  }
}

@media (max-width: 700px) {
  footer {
    padding: 0.5% 5%;
    display: block;
    .copyright {
      p {
        display: none;
      }
    }
    .soсial-media {
      img {
        width: 24px;
      }
    }
  }
}
