@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.container {
  width: 70vw;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  font-size: 14px;
  font-family: "Jua", sans-serif;
  font-weight: 400;
  overflow-y: scroll;
}

a {
  text-decoration: none;
}

footer {
  background-color: #F3E2D8;
}
footer .contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .contact .soсial-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
}
footer .contact .soсial-media__img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
footer .contact .soсial-media__item {
  margin: 5%;
}
footer .contact .soсial-media__item img {
  vertical-align: middle;
}

/* .navbar {
  background-color: $color-bg-primary;

  &__wrap {
    @include display-flex-row;
    background-color: $color-bg-primary;
    padding: 0.5% 0;
    gap: $gap-small;
  }

  &__logo {
    @include display-flex-row;
    white-space: nowrap;
    gap: $gap-small;
  }
  &__heading {
    font-size: $font-size-large;
  }
  &__nav {
    @include display-flex-row;
    gap: $gap-medium;
  }
  &__list {
    @include display-flex-row;
  }
  &__link {
    font-size: $font-size-medium;
    text-transform: $upper-case-text-transformation;
    color: $color-neutral-dark;
    margin: 0 10px;
  }
  &__btn {
    @include info-action-button;
    text-transform: $upper-case-text-transformation;
  }
} */
header {
  display: flex;
  justify-content: space-between;
  padding: 0 10%;
  background-color: #F3E2D8;
}
header .navbar__logo {
  display: flex;
  align-items: center;
}
.values {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  position: relative;
  background-image: url(../imgs/bg-main.svg);
  height: 60vh;
}
.values__wrap {
  display: flex;
  flex-direction: column;
  gap: 20%;
  padding: 5% 55% 0 0;
}
.values__btn {
  display: flex;
  background-color: #E08D73;
  color: #FFFFFF;
  font-size: 18px;
  white-space: nowrap;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  width: -moz-fit-content;
  width: fit-content;
  gap: 2%;
}
.values__heading {
  font-size: 38px;
  padding-top: 10%;
}
.values__text {
  font-size: 18px;
  padding-top: 8%;
  line-height: 29px;
}/*# sourceMappingURL=style.css.map */